html,
body,
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 62.5%; /* Normally 100% is 16px we want the size to be 10px so we do 62.5% */
}

.head-title {font-size: 5rem;
text-align: center;
border: 5px;}

.head {
  color: rgb(255, 0, 0);
  text-align: center;
  border: solid rgb(44, 44, 44);
  padding: 50px 50px;
  background-color: #85dcb0;
  border-radius: 10px;
  font-family: 'Raleway', sans-serif;
  font-size: 10rem;}

.about {
  height: 100vh;
  font-size: 30px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  border-radius: 10px;}

.about-row {align-items: center; 
  display: flex;
  flex-direction: row;
height: 100%;
width: 80vw;
margin: 0 auto;
justify-content: space-evenly;
background-color: bisque;
border:solid black;
border-radius: 10px;}




.about-col { background-color: antiquewhite;
  font-size: 30px;
      display: flex;
      flex-direction: column;
    width: 25%;
    justify-content: space-evenly;
  align-items: center;
height: 90%;
border: solid white;
border-radius: 10px;
position: relative;}

    

body {background-color: #606c38}
.button {
    width: 10em;
    height: 5ex;
    background-color: gold;
    border: 2px solid firebrick;
    border-radius: 10px;
    font-weight: bold;
    color: black;
    cursor: pointer;}

    .button:hover {
      background-color: bisque;}

      a {
        background-color: powderblue;
        transition: background-color 0.5s;
      }
      
      a:hover {
        background-color: gold;
      }
      

img {height: 25%;
box-shadow: 0.5rem 0.5rem black, -0.5rem -0.5rem #ccc;
border-radius: 10px;
flex-wrap: wrap;
position: relative;}
img:hover{transform: scale(1.2);
outline: 1rem solid orange;
z-index: auto;}

.about-col:hover img:not(:hover) {transform: scale(0.5);
  opacity: 0.3;}
  
  10px 5px 5px black;


 