html,
body,
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 62.5%; /* Normally 100% is 16px we want the size to be 10px so we do 62.5% */
}
h2 {margin: 1rem}
.head-title {font-size: 5rem;
text-align: center;
border: 1px;}
.about {
  height: 100vh;
  font-size: 30px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;}

.about-row {align-items: center; 
  display: flex;
  flex-direction: row;
height: 100%;
width: 80vw;
margin: 0 auto;
justify-content: space-between;
background-color: bisque;}

.about-col { background-color: antiquewhite;
  font-size: 30px;
      display: flex;
      flex-direction: column;
    width: 25%;
    justify-content: space-evenly;
  align-items: center;
height: 90%;}

    

body {background-color: #606c38}
.rem-size {font-size: 1rem;} /* depends on the root font size */

.about-col {border: 1px solid rgb(255, 0, 0);
color: white;}

img {height: 25%;
  box-shadow: 10px 5px 5px black;}


 