html,
body,
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 62.5%; /* Normally 100% is 16px we want the size to be 10px so we do 62.5% */
}
h2 {margin: 1rem}
.parent {font-size: 30px;
    display: flex;
    justify-content: space-around;
    align-items: center;}

    {font-size: 30px;
      display: flex;
      flex-direction: row;
      align-items: center;}


    

body {background-color: #606c38}
.rem-size {font-size: 1rem;} /* depends on the root font size */

.about-col {border: 1px solid rgb(255, 0, 0);
color: white;}

img {height: 3rem}


 