html,
body,
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 62.5%; /* Normally 100% is 16px we want the size to be 10px so we do 62.5% */
}

body {background-color: #606c38}

.head-title {font-size: 5rem;
text-align: center;
border: 5px;}

.head {
  color: rgb(255, 0, 0);
  text-align: center;
  border: solid rgb(44, 44, 44);
  padding: 50px 50px;
  background-color: #85dcb0;
  border-radius: 10px;
  font-family: 'Raleway', sans-serif;
  font-size: 10rem;
  margin: 1em;}

.about { height: 100vh;
  font-size: 30px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  border-radius: 10px;
  height: 1px;
 }
 
 /* unvisited link */
a:link {
  color: red;
}

/* visited link */
a:visited {
  color: green;
}

/* mouse over link */
a:hover {
  color: hotpink;
}

/* selected link */
a:active {
  color: blue;
}
















    


.button {
    width: 10em;
    height: 5ex;
    background-color: gold;
    border: 2px solid firebrick;
    border-radius: 10px;
    font-weight: bold;
    color: black;
    cursor: pointer;}

    .button:hover {
      background-color: bisque;}

      a {
        background-color: powderblue;
        transition: background-color 0.5s;
      }
      
      a:hover {
        background-color: gold;
      }
      
@media screen and (max-width:900px){ .about-row {flex-direction: row;} 
img {width: 45%;}
}
@media screen and (max-width:600px) { .about-row {flex-direction: column;}
img {width: 100%;}
}
  
.monkey:hover{transform: scale(1.2);
outline: 1rem solid orange;}

.cards-container {
display: flex;
background-color: bisque;
align-items: center;
flex-wrap: wrap;
justify-content: center;
margin: auto;
width: 80vw;

}

.card {margin: 3vh;
width: 400px;
align-items: center;
display: flex;
justify-content: space-around;
padding: 2rem 1rem;
flex-direction: column;
border: solid black;
background-color: white;
transition: 0.3s;}

.card h2 {margin-bottom: 1rem;
font-size: 5rem;}

.card:hover{transform: translateY(-3px) ;}

.monkey {width: 10vw;
  box-shadow: rgba(0, 0, 0, 1) 0px 3px 8px;
  border-radius: 10px;
  position: relative;}

form, button, a {font-size: 4rem;}

.animation {height: 2rem;
width: 2rem;
animation: test 5s infinite;
position: absolute;}

.head {display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 90vw;
    margin: 1rem auto;}

@keyframes test{
  0% {left: 50%;
    bottom:10%;
  background-color: rgb(255, 0, 0);}
  25% {left: 50%;
    bottom:20%;
    transform: scale(3);
  background-color: blue;}
  50%{left: 55%;
    bottom:20%;
    transform: scale(2);
  background-color: orange;}
  75%{left: 55%;
    bottom:10%;
    transform:scale(4);
  background-color: bisque;}
  100% {left: 50%;
  bottom:10%;
background-color: #606c38;}
  




 